/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 13px 6px;
gap: 10px;

position: absolute;
width: 1119px;
height: 799px;
left: 141px;
top: 125px;

background: #FFCD60;
border-radius: 12.5px;

/* Form Log In */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 24px;

position: absolute;
width: 450px;
min-width: 320px;
height: 567px;
left: 693px;
top: 268px;

/* Secondary */
background: #532C5F;
border: 1px solid #8A226F;
border-radius: 8px;

/* Log in */

position: absolute;
width: 136px;
height: 150px;
left: 353px;
top: 287px;

/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

position: absolute;
width: 122px;
height: 56px;
left: 857px;
top: 666px;

/* Primary */
background: #FFCD60;
border: 1px solid #2C2C2C;
border-radius: 8px;

/* Desktop - 1 */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;
